<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
  bootstrap="initialize.php"
  colors="true"
  beStrictAboutTestsThatDoNotTestAnything="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  verbose="true"
  repeat="10"
  stopOnFailure="true">
</phpunit>
<!--Aditional cli options - - debug - - repeat n-->